name: Secret with Docker Hub

on:
  workflow_dispatch:

env:
  # variable to define the version of the image
    IMAGE_VERSION: 1.0.0

jobs:
  build-jar:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v3
        with:
          name: demo-jar
          path: target/demo-0.0.1.jar

  build-docker-image:
    needs: build-jar
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Download JAR artifact
        uses: actions/download-artifact@v3
        with:
          name: demo-jar
          path: target

      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag demo-devops-java:${{ env.IMAGE_VERSION}}

    # save in an artifact the docker image creates
      - name: Upload Docker image
        uses: actions/upload-artifact@v3
        with:
            name: demo-image
            path: target/demo-devops-java:${{ env.IMAGE_VERSION}}
  registry-docker-hub:
    needs: build-docker-image
    runs-on: ubuntu-latest

    steps:
        # download the docker image artifact
      - name: Download Docker image
        uses: actions/download-artifact@v3
        with:
          name: demo-image
          path: target

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Push to Docker Hub
        run: docker push ${{ secrets.DOCKER_HUB_USERNAME }}/demo-devops-java:${{ env.IMAGE_VERSION}}