# variables names predefined in the template
name: Variables names predefined in the template
on: 
  workflow_dispatch:

jobs:
  show:
    runs-on: ubuntu-latest
    steps:
      - name: Show variables
        run: |
          echo "The value of the variable is $GITHUB_ACTION" \
          && echo "The value of the variable is $GITHUB_EVENT_NAME" \
          && echo "The value of the variable is $GITHUB_REPOSITORY" \
          && echo "The value of the variable is $GITHUB_RUN_NUMBER" \
          && echo "The value of the variable is $GITHUB_WORKFLOW" \
          && echo "The value of the variable is $GITHUB_WORKSPACE" \
          && echo "The value of the variable is $RUNNER_OS" \
          && echo "The value of the variable is $RUNNER_NAME" \
          && echo "The value of the variable is $RUNNER_ARCH"
